*{
    margin: 0;
}

.title{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
}

.container{
    background-image: url(../Images/doggo.jpg);
    height: 98vh;
    width: 204vh;
    background-size: 215vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.dog-card{
    margin-top: 15px;
}

.select-container{
    height: 30px;
    width: 100%;
}

.select-box{
    height: 100%;
    width: 10%;
    font-size: 1rem;
    border: 1px solid #965212;
    border-top: none;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button-design{
    width: 70px;
    height: 36px;
    line-height: 10px;
    text-align: center;
    border: 1px solid #DDDDDD;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #f8f8f8;
  }

.button-design:not(:first-child){
    margin-left: 5px;
}

.button-design:first-child{
    border-radius: 10px 0 0 10px;
}

.button-design:last-child{
    border-radius: 0 10px 10px 0;
}

.button-design:hover{
    background-color: #d6900d;
}

.arriba{
    background-color: rgba(255, 115, 0, 0.342);
}